@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is my first MVC.</p>
    <style>
        img {
            width: 30%;
        }
    </style>
    <img src="Images/me.jpeg"/>
</div>
